body {
  background-image: url(../IMAGES/project.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vp;
}
header {
  background-color: goldenrod;
  text-align: center;
  overflow: hidden;
  /* color: white; */
  margin-bottom: 80px;
  text-align: center;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
}
nav{
  display: flex;
  float: right;
}
.navdiv {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  font-size: 25px;
  font-style: italic;
  text-decoration: none;
}
a{
  color: white;
  text-decoration: none;
  padding: 20px;
}
a:hover{
  color:blue;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  font-style: italic;
}
.we {
  text-align: center;
  color: white;
  font-size: 20px;
}
footer{
  text-align: center;
  font-size: 15px;
  color: black;
  background-color:goldenrod;
  padding: 30px;
  overflow: hidden;
  height: 80px;
  
}
