header {
    background-color: goldenrod;
    text-align: center;
    overflow: hidden;
    /* color: white; */
    margin-bottom: 80px;
    text-align: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
}
nav{
    display: flex;
    float: right;
}
.navdiv {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
a:hover{
    color:blue;
}
h2 {
    text-align: center;
}
h1{
  text-align: center;
  font-style: italic;
  font-family: 'Original Surfer',cursive;
}
h3{
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
}
#road-rescue,#towing-breakdown,#forklift-crane-hire,#mobile-car-wash{
  display: none;
}

p{
  font-family: 'Goudy Bookletter 1911', serif;
}
footer{
    text-align: center;
    font-size: 15px;
    color: black;
    background-color:goldenrod;
    padding: 30px;
    overflow: hidden;
    height: 80px;
    position: sticky;
    
}
#mission, #core-values, #vision{
    display: none;
    font-size: 16px;
  }
